.container{
    margin-top: 20px;
}
.nav-item a{
    color: black;
}

.header img{
    width: 10%;
}
.btn-design{
    background-color: black;
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
}
.card{
    padding: 40px 20px;
    box-shadow: .1px .1px .2px rgb(241, 239, 239);
    border-radius: 5px;
}
.card-body h5, p{
    text-align: center;
}
