.container{
    margin-top: 20px;
    margin-bottom: 50px;
}
.nav-item a{
    color: black;
}

.header img{
    width: 10%;
}
.btn-design{
    background-color: black;
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.card{
    padding: 40px 20px;
    border: none;
    box-shadow: 1px 1px 10px rgb(241, 240, 240);
    border-radius: 5px;
}
.card-body h5, p{
    text-align: center;
}
.pale-order img{
    width: 100%;
  }
.img-border{
    box-shadow: 1px 1px 10px rgb(221, 220, 220);
    padding: 30px 40px 20px 40px;
    
}
.img-border p{
    padding-top: 20px;
}
.row{
    padding-bottom: 40px;
}
.pole-order img{
    width: 100%;
}

